img
    {
      height:250px; width:250px;
    }
body{
      background-color:#FCC8D1;
    }
hr{
     border-style:dotted None None;
     border-color:grey;
     border-width:7px;
     width:15%;
  }